
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <form action="/northwind/showproductsearchresults">
            <div class="justify-content-center align-items-center">
                <input name="searchtext" type="text" class="form-control form-control-lg" placeholder="Search Products..."/>
                <button class="btn btn-primary btn-lg btn-block">Search</button>
            </div>
        </form>
    </div>
</body>
</html>