
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>
            <a href="/northwind/orderdetails?year=1997&country=belgium">
                View Orders from 1997 in Belgium
            </a>
        </h1>
    </div>
</body>
</html>
